@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  background: #f8fafc;
  color: #0f172a;
  font-family: ui-sans-serif, system-ui, "Segoe UI", "Apple SD Gothic Neo",
    "Noto Sans KR", sans-serif;
}
